/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./*.{js,ts,jsx,tsx}",          // This tells Tailwind to scan files in the root directory
    "./src/**/*.{js,ts,jsx,tsx}"    // This scans any subfolders (just in case you add them later)
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}